@tailwind base;
@tailwind components;
@tailwind utilities;

#main {
  background: linear-gradient(120deg, #463ad4, #970d9d, #000000);
  background-size: 180% 180%;

  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
